

#carousel {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    padding: 30px 0 100px 0;
}    

#carousel >* {
    margin: 10px; 
}  

#carousel span {
    margin: auto 0;
}

#card-1, #card-3 {
    filter: blur(1.5px); 
    transform: translateY(10px); 
}

#card-1, #card-2, #card-3 {
    transition: .2s;
} 