div >* { 
    overflow: visible;
}



div#web {  
    position: relative;   
    background: #282c34;
    padding: 20px 0;
    color: white; 
}  
div#web:after {    
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: inherit;
    transform-origin: top right;
    transform: skewY(5deg);
    z-index: -1;
}

#web #title {
    margin: 100px 0 150px 0;
    font-size: 55px;
}

#flex {
    display: flex;
    flex-direction: row; 
    flex-flow: wrap;
    justify-content: center;
    background-image: url('https://dm2304files.storage.live.com/y4mgKhzKiHxvYMjxcyfkFkFOw1vv8VWqIAN7YlrfnqsQ4RiHprZcunV0w545fhZj2EYWvT-cv_GdptcxDiF8fbyA-fxJ1t9FYgjMCxKt7KuL0TkWqR9bEfPzEa27mU0Jj_rRT9Bj48USfgsynHWDF7ZjPkPjxDZgn4JAnHpwTOaWzkI_Hk86JHHQNb_P0sBoeFn?width=1919&height=1080&cropmode=none');
    padding: 200px 0;
    background-size: cover;
    background-position: center center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 50px 36px -28px inset, rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;  
    ;   
}  

#flex div {
    margin: 40px;
    padding: 10px;
    background: #fcbf49;
    border-radius: 2px; 
    width: 400px;
    height: 400px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 