::-webkit-scrollbar {
    width: 8px;
    z-index: 100; 
  }
  ::-webkit-scrollbar-thumb {
    background-color: #0d47a1; 
    z-index: 100;  
  }
  ::-webkit-scrollbar-track {
    position: absolute;
    right: -3rem;
    top: -50rem;
    background: transparent;
    z-index: 100;
    margin-top: 50px; 
  }

#parallax {
    overflow: overlay !important;
}