.App {
  text-align: center;
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav { 
  background-color: #1e212798;  
  position: fixed;
  width: 100%;
}

ul {
  list-style-type: none;
  overflow: auto;
  clear: both;
  margin: 0;
  padding: 0;
} 

li:hover {  
  background-color: #282c34b4;
  cursor: pointer;
  transition:cubic-bezier(1, 0, 0, 1);
}

li {
  color: white;
  float: right;
  padding: 20px 10px;
} 

header {
  background-image: url('./images/PhotoMyrtleBeach.com-7.jpg');
  background-position: center, center;
  background-size: cover;
}

header div {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(29, 29, 29, 0.253));
  background-position: center;
  border-radius: 5px;
  text-align: center;
  padding: 10px; 
} 

 