.container {
    container: container / inline-size;
    padding-inline: 10%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: calc(5cqw + 3cqh);
    font-weight: 800;
    font-family: var(--font-alumni-sans);
    color: var(--primary);
}

.web_sections {
    display: flex;
    container-type: inline-size;
    width: 100cqw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.paragraph {}
